// Fonts
$open-sans: 'Open Sans', Helvetica, Arial, sans-serif;
$gibson: 'Gibson', arial, sans-serif;
$heading-font-family:  $gibson;
$body-font-family:  $open-sans;
$base-font-size: 17px;
$base-line-height: 31px;
$small-font-size: 14px;
$small-line-height: 26px;
$global-margin: 40px;

// Colors
$primary: #2BC9FF;
$primary-opaque: rgba(43, 201, 255, 0.05);
$primary-opaque--low: rgba(43, 201, 255, 0.02);
$secondary: #0f608d;
$secondary-dark: #004670;
$secondary-opaque: rgba(0, 70, 112, 0.2);
$white: #fff;
$off-white: #D2E5EB;
$off-white-opaque: rgba(210, 229, 235, 0.4);
$black: #000;
$solid-bg: #103248;

// Let's get this straight
*{
	box-sizing: border-box;
}

// Breakpoints
$global-max-width: 75rem;
$mobile-max-width: 40em;
$tablet-width: 40em;
$desktop-width: 64em;

@mixin mobile {
  @media (max-width: #{$mobile-max-width}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}){
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}






