// 10 Reasons styles
div.template-why {
	.reasons {
		margin-top: 4em;
		max-width: 70rem;
		.box {
			min-height: 500px;
			border: 1px solid $secondary-dark;
			padding: 2em;
			background-color: rgba(255,255,255,0.02);

			@include mobile{
				min-height: initial;
			}

			&:hover {
				background-color: rgba(255,255,255,0.04);
			}
			p, h2 { 
				text-align: left;
			}
			h2 {
				color: $primary;
				margin-top: 1.5em;

				@include mobile{
					margin-bottom: 5px;
				}
			}

			.number-container{
				display: table;
				width: 40px;
				
				@include mobile{
					margin: 0 auto;
					text-align: center;
				}
			}

			.number {
				border: 1px solid $off-white;
				display: table-cell;
				vertical-align: middle;
				width: 40px;
				height: 40px;
				border-radius: 100%;
				padding: 10px;
				line-height: 1px;
				margin-bottom: 2em;
				color: $off-white;
				text-align: center;

				@include mobile{
					margin: 0 auto 2em auto;
				}
			}
		}
		.image1 {
			background: url('../img/whyattend1.png') no-repeat center center;
			background-size: cover;
		}
		.image2 {
			background: url('../img/whyattend2.png') no-repeat center center;
			background-size: cover;
		}
		.image3 {
			background: url('../img/whyattend4.png') no-repeat center center;
			background-size: cover;
			display: none;
			@include tablet {
				display: block;
			}
		}
		.image4 {
			background: url('../img/whyattend3.png') no-repeat center center;
			background-size: cover;
			display: none;
			@include tablet {
				display: block;
			}
		}

		@include mobile{ 
			.image1, .image2, .image3, .image4{
				display: none;
			}
		}
	}
}